<br>
<div class="container ">
    <h5> Landing Navs </h5>

    <button (click)="onNavTo('')" class="btn btn-info m-1 "> Landing Page </button>

    <h5>admin navs</h5>
    
        <button (click)="onNavTo('admin/sign-in')" class="btn btn-info m-1 "> sign in </button>
        <button (click)="onNavTo('admin/landing')" class="btn btn-info m-1 "> admin landing </button>
    
    <h5>shop navs</h5>
    
        <button (click)="onNavTo('shop/sign-in')" class="btn btn-info m-1 "> sign in </button>
        <button (click)="onNavTo('shop/set-credentials')" class="btn btn-info m-1 "> set credentials </button>
        <button (click)="onNavTo('shop/landing')" class="btn btn-info m-1 "> shop landing </button>
    
    <h5>customer navs</h5>
    
        <button (click)="onNavTo('customer/sign-in')" class="btn btn-info m-1 "> sign in </button>
        <button (click)="onNavTo('customer/sign-up')" class="btn btn-info m-1 "> sign up </button>
        <button (click)="onNavTo('customer/set-credentials')" class="btn btn-info m-1 "> set credentials </button>
        <button (click)="onNavTo('customer/langing')" class="btn btn-info m-1 "> customer landing </button>
    
</div>
<br>